*{
    margin-bottom: 0;
}

.temario-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-areas: 
    "col1 col2 col3 col4";
}
.columna1{
    grid-area: col1;
}
.columna2{
    grid-area: col2;
}
.columna3{
    grid-area: col3;
}
.columna4{
    grid-area: col4;
}

#arriba{
    font-size: 50px;
    text-align: center;
    background-color: bisque;
}
.ul-temario{
    text-align: center;
    list-style: none;
    font-size: 20px;
    color: black;
}
.ul-temario *{
    color: rgb(39, 68, 163);
}

h1{
    background-color: aqua;
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    
}
h2{
    background-color: aquamarine;
    border: 1px solid black;
    font-size: 25px;
}
p{
    font-size: 20px;
}
hr{
    width: 100%;
    margin-bottom: 3rem;
}
/* GENERALES */

/* pseudoclases de form */
.seudoclases *:required{
    border-color: yellow;
}
.mocos:required{
    border-radius: 12px;
}
.mocos:valid{
    background-color: green;
}

/* seudoclases de enlaces */
.menu-pseudoclases a:hover{
    color: aqua;
}
.menu-pseudoclases a:visited{
    color: rgb(0, 163, 46);
}

/* pseudoclases por posicion de elementos en contenedor */
.pseudoclases__posicion li:first-child{
    color: aqua;
}
.pseudoclases__posicion li:nth-child(4){
    background-color: blueviolet;
}
.pseudoclases__posicion li:nth-child(3n +1){
    border: 1px solid red;
    font-weight: bold;
}
.pseudoclases__posicion li:nth-child(even){
    font-size: 30px;
}
.articulo p:first-of-type{
    background-color: brown;
}
.articulo p:last-of-type{
    background-color: aquamarine;
}
.articulo p:nth-of-type(2){
    font-weight: 600;
}

/* pseudoelementos */
.elemento1::after{
    content: "me cocine marcela";
    background-color: aqua;
}
.elemento2::after{
    content: "despues lave los platos";
    background-color: aqua;
}
.elemento3::after{
    content: "jaja na mentira maldita feminazi😁";
}

.pseudoelementos::first-letter{
    font-weight: bold;
    font-size: 32px;
}
.pseudoelementos::first-line{
    color: blueviolet;
}

.pseudoelementos-selection::selection{
    background-color: blue;
    color: brown;
}

/* Display */
.caja-bloque{
    width: 10rem;
    height: 5rem;
    border: 1px solid black;
    background-color: brown;
    margin-bottom: 2rem;
}
.caja-linea{
    /* width: 100rem;
    height: 5rem; */
    border: 1px solid black;
    background-color: brown;
    padding: 4rem; /* las cajas de linea aceptan paddin pero este no va a respetar los demas elementos en el espacio que se le asigne en el padding */
    margin: 3rem;
}

/* Propiedad Visibility */
.visibility{
    visibility: hidden;
    visibility: visible;
}

/* Propiedad Overflow */
.overflow-visible{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    
}
.overflow-hidden{
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: aquamarine;
    border: 1px solid black;
}
.overflow-scroll{
    width: 300px;
    height: 100px;
    overflow: hidden;
    overflow: scroll;
    background-color: aquamarine;
}
.overflow-auto{
    width: 300px;
    height: 100px;
    overflow: auto;
    background-color: aquamarine;
}

/* border-box */
.tamaño-caja{
    background-color: burlywood;
}
.content-box{
    width: 500px;
    height: 60px;
    background-color: aquamarine;
    padding: 10px;
}
.content-box p{
    padding: 20px;
}
.border-box{
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    background-color: aquamarine;
    padding: 20px ;
    border: 5px solid black;  
}
.border-box-padding{
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    background-color: aquamarine; 
}
.border-box-padding p{
    padding: 15px;
}

/* Colapso de margenes verticales */
.colapso-padre{
    width: 600px;
    height: 15rem;
    border: 3px solid black;
}
.colapso{
    border: 5px solid black;
    width: 200px;
    background-color: coral;
    margin-bottom: 5rem;
    margin-top: 5rem;   
}

/* centrado de cajas */
.caja-centrada{
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

/* posicionamiento */
.relative{
    background-color: brown;
    position: relative;
    top: 30px;
    left: 100px;
}
.absolute{
    color: rgb(12, 14, 14);
    font-size: 20px;
    position: absolute;
    /* top: 0; */ /* al no tener un padre relativo se acomodaria arriba de todo superponiendose en el header */
}
.caja-fixed{
    background-color: rgb(202, 162, 114);
    width: 500px;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.header-fixed{
    width: 100%;
    height: 7rem;
    background-color: aqua;
    position: fixed;
    top: 0;
}
.p{
    margin-top: 7rem;
}

.caja-sticky{
    background-color: aqua;
    width: 200px;
    position: sticky;
    top: 0;
    margin-left: 600px;
}

/* Z-Index */
.caja-z-index-1, .caja-z-index-2{
    width: 200px;
    height: 100px;
    background-color: chartreuse;
    border: 1px solid black;
    position: relative;
    
}
.caja-z-index-1{
    top: 80px;
    z-index: 1;
}
.padre-z-index{
    width: 300px;
    height: 300px;
    background-color: aqua;
    z-index: 2; /* esto no esta aplicando ya que este es static */
}
.hijo-z-index{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: relative;
    z-index: -1;
    top: 150px;
    left: 75px;   
}

/* opacity */
.opacidad{
    border: 4px solid black;
    background-color: blueviolet;
    opacity: 0.50;
}

/* Unidad de medida ch */
.ch{
    background-color: aqua;
    width: 7ch;
}
.ch2{
    font-size: 32px;
    background-color: aqua;
    width: 7ch;
}













