.contenedor{
    font-size: 40px;
    background-color: blueviolet;
    text-align: center;
}
#arriba{
    font-size: 50px;
    text-align: center;
    background-color: bisque;
}
.ul-temario{
    text-align: center;
    list-style: none;
    font-size: 20px;
    color: black;
}
.ul-temario *{
    color: rgb(39, 68, 163);
}

h1{
    background-color: aqua;
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
}
h2{
    background-color: aquamarine;
    border: 1px solid black;
    font-size: 25px;
}
p{
    font-size: 20px;
}
hr{
    width: 100%;
    margin-bottom: 3rem;
}
/* GENERALES */

/* pseudoclases de form */
.seudoclases *:required{
    border-color: yellow;
}
.mocos:required{
    border-radius: 12px;
}
.mocos:valid{
    background-color: green;
}

/* seudoclases de enlaces */
.menu-pseudoclases a:hover{
    color: aqua;
}
.menu-pseudoclases a:visited{
    color: rgb(0, 163, 46);
}

/* pseudoclases por posicion de elementos en contenedor */
.pseudoclases__posicion li:first-child{
    color: aqua;
}
.pseudoclases__posicion li:nth-child(4){
    background-color: blueviolet;
}
.pseudoclases__posicion li:nth-child(3n +1){
    border: 1px solid red;
    font-weight: bold;
}
.pseudoclases__posicion li:nth-child(even){
    font-size: 30px;
}
.articulo p:first-of-type{
    background-color: brown;
}
.articulo p:last-of-type{
    background-color: aquamarine;
}
.articulo p:nth-of-type(2){
    font-weight: 600;
}

/* pseudoelementos */
.elemento1::after{
    content: "me la chupe marcela";
    background-color: aqua;
}
.elemento2::after{
    content: "despues se muera";
    background-color: aqua;
}
.elemento3::after{
    content: "jaja na mentira maldita feminazi😁";
}

.pseudoelementos::first-letter{
    font-weight: bold;
    font-size: 32px;
}
.pseudoelementos::first-line{
    color: blueviolet;
}

.pseudoelementos-selection::selection{
    background-color: blue;
    color: brown;
}